CookHelper.Android/obj/*
CookHelper.Android/bin/*

CookHelper.iOS/obj/*
CookHelper.iOS/bin/*

CookHelperTest/obj/*
CookHelperTest/bin/*

CookHelper/obj/*
CookHelper/bin/*

.vs*
*.cache
*.props
*.targets
*.DS_Store
*/.DS_Store
