CookHelper.Android/obj/*
CookHelper.Android/bin/*

CookHelper.iOS/obj/*
CookHelper.iOS/bin/*

CookHelper/obj/*
CookHelper/bin/*

.vs*
*.cache
*.props
*.targets
*.DS_Store
CookHelper/.DS_Store
CookHelper/.DS_Store
